body {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	font-family: 'Quattrocento', serif;
	color: #bfbfbf;
}

.anchor-container {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Raleway', sans-serif;
    text-transform:capitalize;
    font-variant:small-caps;
    font-weight: bold;
	text-align: center;
	width: 100%;
}
h2 {
	text-align: center;
	font-size: 50px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
h4{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	margin: 5px 0px 5px 0px;
}

.landing {
	padding: 0;
}
.header {
	background-color: #000;
	height: 110px;
}
.natalie-baker {
	font-size: 50px;
	margin-top: 30px;
}
.job-title {
	font-size: 36px;
	text-align: center;
	margin-top: 37px;
}

.landing-img {
	margin-top: 4vh;
}
.landing-pic {
	border-radius: 100%;
	border: 2px solid #bfbfbf;
	padding: 0;
}
.landing-portfolio,
.landing-services {
	padding: 20px;
}

.nav-list {
	display: block;
	margin: 4vh 0 4vh 0;
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	padding: 0;
}
.nav-list-item {
	list-style-type: none;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.anchor-div {
	max-width: 100%;
	min-height: 100vh;
	padding-top: 20px;	
}

#about {
	background-image: url(images/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}
#about-me {
	margin-left: auto;
	margin-right: auto;
}

#portfolio {
	background-image: url(images/bg-4.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
}
#portfolio img {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#showcase {
	width: 1200px;
	max-width: 100%;
	display: flex !important;
    flex-wrap: wrap !important;
    margin-left: auto;
    margin-right: auto;
}
.project-p {
	text-align: center;
}
.showcase {
	width: 50%;
	text-align: center;
}
.showcase span {
	width: 300px;
	max-width: 50% ;
}
#projects {
	width: 1200px;
	max-width: 100%;
	display: flex !important;
    flex-wrap: wrap !important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}
.projects {
	width: 25%;
	text-align: center;
}

#services {
	background-image: url(images/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.services {
	padding: 15px 0px 15px 0px;
}
.service {
	width: 800px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.service-detail {
	margin: 5px 0px 5px 0px;
}

#contact {
	background-image: url(images/bg-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#soc-med-box {
	height: 300px;
	width: 300px;
	max-width: 100%;
	background-color: rgba(191, 191, 191, 0.25);
	border-radius: 100%;
	margin-left: calc(50% - 150px);
}
#soc-med-list {
	padding-top: calc(50% - 20px);
	padding-left: calc(50% - 116px);
}
.soc-med-icon {
	padding: 4px;
}